<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditPerson</title>
</head>
<body>


<form th:method="PATCH" th:object="${person}" th:action="@{/people/{id}(id=${person.getId()})}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="${person.name}" id="name"/>

    <label for="surname">Enter surname: </label>
    <input type="text" th:field="${person.surName}" id="surname"/>

    <label for="mail">Enter mail: </label>
    <input type="text" th:field="${person.mail}" id="mail"/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="${person.age}" id="age"/>

    <input type="submit" value="Edit!"/>
</form>

</body>
</html>